body, html{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(37, 54, 73);
    display: flex;
    justify-content: center;
}

.container{
    background-color: white;
    width: 400px;
    height: 600px;
    position: relative;
    overflow: hidden;
    animation: darken 2s ease-in-out infinite;
}

.container .sidebar{
    height: 100%;
    float: right;
    background-color: gray;
    animation: resizeSidebar 2s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    gap: 10px;
}

.container .sidebar .sidebar-cons{
    width: 90%;
    height: 30%;
    border-radius: 5px;
    background-color: rgb(182, 182, 182);
    animation: visible 2s ease-in-out infinite;
}

.container .clicker {
    font-size: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    animation: moveCursor 2s ease-in-out infinite;
}

.container .multi {
    height: 10%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0%;
    background-color: gray;
    border-radius: 10px 10px 0 0;
}

.container .multi .cons{
    width: 20%;
    height: 100%;
}

.container .multi .cons:nth-child(1){
    border-radius: 10px 0 0 0;
    animation: resizeMulti 2s ease-in-out infinite;
}

.container .multi-clicker{
    font-size: 50px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    animation: moveMultiCursor 2s ease-in-out infinite;
}

.container .overlay{
    height: 100%;
    background-color: rgb(201, 201, 201);
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    gap: 10px;
    animation: slideOverlay 2s ease-in-out infinite;
}

.container .overlay .overlay-cons{
    height: 30%;
    width: 100%;
    background-color: rgb(182, 182, 182);
    animation: visible 2s ease-in-out infinite;
}

@keyframes slideOverlay{
    0%, 40%, 50% {
        width: 0%;
    }
    80%, 90%, 100%  {
        width: 100%;
    }
}

@keyframes moveMultiCursor{
    0%, 40% {
        left: 50%;
        transform: translate(-50%) scale(1);
    }
    40% {
        top: 92%;
        left: 12%;
        transform: translate(-50%) scale(1);
    }
    50% {
        top: 92%;
        left: 12%;
        transform: translate(-50%) scale(0.8);
    }
    80%, 90%, 100% {
        top: 92%;
        left: 12%;
        transform: translate(-50%) scale(1);
    }
}

@keyframes moveCursor {
    0%, 40% {
        left: 50%;
        transform: translateX(-50%) scale(1);
    }
    40% {
        left: 95%;
        transform: translateX(-50%) scale(1);
    }
    50% {
        left: 95%;
        transform: translateX(-50%) scale(0.8);
    }
    80%, 90%, 100% {
        left: 95%;
        transform: translateX(-50%) scale(1);
    }
}

@keyframes resizeSidebar {
    0%, 40%, 50% {
        width: 15%;
    }
    80%, 90%, 100% {
        width: 80%;
    }
}

@keyframes visible {
    0%, 40%, 50% {
        opacity: 0;
    }
    70% {
        opacity: .2;
    }
    80% {
        opacity: .5;
    }
    90%, 100% {
        opacity: 1;
    }
}

@keyframes darken {
    0%, 40%, 50% {
        background-color: rgba(255, 255, 255, 1);
    }
    70% {
        background-color: rgb(131, 131, 131);
    }
    80% {
        background-color: rgb(68, 68, 68);
    }
    90%, 100% {
        background-color: rgb(68, 68, 68);
    }
}

@keyframes resizeMulti {
    0%, 40%, 50% {
        background-color: gray;
        transform: scale(1);
    }
    60% {
        background-color: rgba(127, 208, 240, .6);
        transform: scale(.8);
    }
    90%, 100% {
        background-color: gray;
        transform: scale(1);
    }
}